<div class="mx-auto max-w-7xl px-4 sm:px-2 lg:px-8 mt-10">
  <div class="mx-auto max-w-xl">
    <h3 class="text-5xl font-small leading-12 text-violet-800">ROCK - PAPER - SCISSORS</h3>
    <div class="text-lg font-small leading-6 text-gray-500 mt-6">
      Rock Paper Scissors is a zero sum game that is usually played by two people using their
      hands and no tools. The idea is to make shapes with an outstretched hand where each shape
      will have a certain degree of power and will lead to an outcome.
    </div>
    <h3 class="text-2xl font-big text-center leading-12 text-gray-900 mt-8">SELECT YOUR BET</h3>
    <dl class="mt-5 grid justify-items-center grid-cols-3 gap-5 sm:grid-cols-3">
      <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow hover:bg-slate-100 sm:p-6 mt-6" onclick="playGame('rock')">
        <%= image_tag("rock.png") %>
        <dt class="truncate text-sm font-medium ml-4 text-violet-800">Rock</dt>
      </div>

      <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow hover:bg-slate-100 sm:p-6" onclick="playGame('paper')">
        <%= image_tag("paper.png") %>
        <dt class="truncate text-sm font-medium ml-4 text-violet-800">Paper</dt>
      </div>

      <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow hover:bg-slate-100 sm:p-6" onclick="playGame('scissors')">
        <%= image_tag("scissors.png") %>
        <dt class="truncate text-sm font-medium ml-2 text-violet-800">Scissors</dt>
      </div>
    </dl>
  </div>
  <%= render partial: 'wait_game_response' %>
  <%= render partial: 'game_results' %>
</div>

<script type="text/javascript">
  function playGame(userChoice) {
    imageSource = getImageSource(userChoice);
    document.getElementById('waiting-game-response-image').src = imageSource;
    document.getElementById('wait-curb-response').classList.remove('hidden');

    let xhr = new XMLHttpRequest();  
    let url = '/game/result?user_choice=' + userChoice;
    xhr.open('GET', url);
  
    xhr.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        res = JSON.parse(this.responseText)
        closeWaitingResponseModal();
        document.getElementById('game-results-image').src = imageSource;
        document.getElementById('modal-title').innerText = res['result'];
        document.getElementById('opponent-result').textContent = res['opponent_result'];
        document.getElementById('curb-result-div').classList.remove('hidden');
      }
    }
    xhr.send();   
  }

  function getImageSource(userChoice) {
    if (userChoice === 'paper')
        return "<%= asset_path('paper.png') %>";
    if (userChoice === 'scissors')
        return "<%= asset_path('scissors.png') %>";
    return "<%= asset_path('rock.png') %>";
  }
</script>